aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
alembic
asgiref
attrs
black
blinker
Brotli
certifi
cffi
charset-normalizer
click
colorama
cryptography
cssselect2
Django
django-allauth
django-allauth[socialaccount]
django-someauth
django-tailwind
dotenv
Flask
fonttools
frozenlist
greenlet
gunicorn
h11
idna
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
multidict
mypy_extensions
oauthlib
outcome
packaging
pathspec
pillow
platformdirs
pluggy
propcache
psycopg2-binary
pycparser
pydyf
Pygments
PyJWT
pyphen
PySocks
pytest
python-dotenv
requests
selenium
setuptools
sniffio
sortedcontainers
SQLAlchemy
sqlparse
tinycss2
tinyhtml5
trio
trio-websocket
twilio
typing_extensions
tzdata
urllib3[socks]
weasyprint
webencodings
websocket-client
Werkzeug
wheel
whitenoise
wsproto
yarl
zopfli
requests
django-widget-tweaks
python-decouple
dnspython
celery
channels
channels_redis
channels[daphne]
django-channels
pycountry
phonenumbers
django-taggit
django-mathfilters
psycopg2-binary
django-phonenumber-field[phonenumbers]
djangorestframework
django-cors-headers
markdown
django-filter
django-allauth[socialaccount]
charset_normalizer